@font-face{
	font-family: 'Open Sans Condensed', sans-serif;
	src: url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic&subset=latin,cyrillic);
}



body, html{
	font-family: 'Open Sans Condensed', sans-serif;
	background-image:url(images/background.jpg);
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-size: cover;
	
}
p{
	padding-left:5px;
	padding-right:5px;
	text-align:justify; 
}
.header{
	width:100%;
	height:120px;
}
#logo{
	width:40%;
	height:120px;
	float:left;
	background-image:url(images/logo.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:auto;
}
#menu{
	width:60%;
	height:120px;
	float:right;
}
#buttons{
	width:60%;
	height:40px;
	padding:40px 20%;
}
.button{
	height:40px;
	width:20%;
	margin-right:1px;
	background-color:white;
	color:black;
	text-decoration:none;
	font-size:25px;
}

.buttonActive{
	height:40px;
	width:20%;
	margin-right:1px;
	background-color:white;
	color:black;
	text-decoration:none;
	font-size:25px;
	border-bottom: 2px solid #666;
}

a.button:hover{
	height:40px;
	width:20%;
	margin-right:1px;
	background-color:white;
	color:black;
	text-decoration:none;
	font-size:25px;
	border-bottom: 2px solid #666;
}
.main{
	background-color:white;
	color:black;
	min-height:350px;
	overflow:auto;
	width:auto;
	min-width:200px;
	margin: 50px 60px;
	
}

.footer{
	
}
.footer p{
	margin:30px;
	color:white;
}
.footer a{
	color:white;
	text-decoration:none;
}
.footer a:hover{
	text-decoration:underline;
}
.main{
	padding-left:5%;
}
.content1 {
	float:left;
	width:20%;
	padding:5%;
	height:auto;
}

h3{
	padding-left:5px;
	border-left:solid #666 3px;	
}

/* Test*/

.start{
	height:20px;
	width:20%;
	margin-right:0,5px;
	color:black;
	text-decoration:none;
	font-size:25px;
}
#slide_show_text{
	height:30px;
	margin-right:0,5px;
	color:black;
	text-decoration:none;
	font-size:25px;
}

/*finish test*/

.mapBlock{
	float:left;
	width:20%;
	padding:5%;
	height:auto;
}
